<form>
  <div class="field">
    <div class="control">
      <h4 class="label">Skills</h4>
      <input class="input" type="tags" placeholder="Musculation" (change)="updateSkills($event)">
    </div>
  </div>
</form>
