<section class="columns">
  <div class="column" style="max-width: 350px">
    <app-poster></app-poster>
    <app-coach-button [routerLink]="'coach-subscription'"></app-coach-button>
    <app-nutritionist-button></app-nutritionist-button>
  </div>
  <div class="column">
    <app-user-infos></app-user-infos>
  </div>
</section>
