<form [formGroup]="form">
  <div class="field">
    <div class="control">
      <h4 class="label">Professional Title</h4>
      <input class="input" type="text" placeholder="God" formControlName="professionalTitle">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <h4 class="label">Description</h4>
      <textarea class="textarea" type="text" placeholder="I'm beautiful" formControlName="description"></textarea>
    </div>
  </div>
</form>
