@import "~themes/variables";

section {
  margin: 1rem;

  h1, h2, h3, h4 {
    color: $dark;
    font-family: Quicksand-Light;
  }
  h1 {
    font-size: 2rem;
  }

  .step-content {
    height: 250px;
    margin: 0 5vw;
  }

  div.aligner {
    margin-top: 2vh;
    flex-direction: column;
  }
}
