<section>
  <h1 class="has-text-weight-light has-text-grey has-text-centered">Become a Coach</h1>
  <div class="steps mt-3" id="stepsDemo">
    <div class="step-item is-active" *ngFor="let step of steps; let i = index">
      <div class="step-marker">
        <span *ngIf="step !== 'Finish'">{{i + 1}}</span>
        <i class="fa fa-flag" *ngIf="step === 'Finish'"></i>
      </div>
      <div class="step-details is-hidden-mobile">
        <p class="step-title">{{step}}</p>
      </div>
    </div>
    <div class="steps-content">
      <div class="step-content has-text-centered is-active">
        <h2>Describe yourself ! It will be the essential information the newbies will get from you !</h2>
        <app-coach-submition-step-one (formUpdate)="onFirstStepFormUpdate($event)"></app-coach-submition-step-one>
      </div>
      <div class="step-content has-text-centered">
        <h2>For the users who will come to this platform, it's necessary to get your skills. Show us what you got !</h2>
        <app-coach-submition-step-two (formUpdate)="onSecondStepFormUpdate($event)"></app-coach-submition-step-two>
      </div>
      <div class="step-content has-text-centered">
        <h2>This will be the leading price you will give to the newbies for information for your benefit a day</h2>
        <app-coach-submition-step-three (formUpdate)="onThirdStepFormUpdate($event)"></app-coach-submition-step-three>
      </div>
      <div class="step-content has-text-centered">
        <h2>To ensure you are able to manage, coach. We have to know if you are qualified fore the coach title. Will
          need some document from you ! Gave us your degree, formation or other to confirm all of this. Thanks you
          !</h2>
        <app-coach-submition-step-four (formUpdate)="onFourthStepFormUpdate($event)"></app-coach-submition-step-four>
      </div>
      <div class="step-content has-text-centered">
        <h1 class="title is-4">Finished !</h1>
        <h3>Click on the button below to fulfill your registration. Then you'll have to wait, we will process the
          information you just gave us. You will receive an email when we are
          done. Make sure all the information are correct.</h3>
        <div class="aligner">
          <label class="checkbox">
            <input type="checkbox" (click)="termsValidationChange()">
            I agree to the <a href="#">terms and conditions</a>
          </label>
          <button class="button is-success mt-3" [disabled]="!canValidate" (click)="submit()">
            Validate
          </button>
        </div>
      </div>
    </div>
    <div class="steps-actions">
      <div class="steps-action">
        <button data-nav="previous" class="button" (click)="previous()">
          <span class="icon is-small">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span>Previous</span>
        </button>
      </div>
      <div class="steps-action">
        <button data-nav="next" class="button" (click)="next()">
          <span>Next</span>
          <span class="icon is-small">
            <i class="fas fa-arrow-right"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
