@import "~themes/variables";

form {
  margin-top: 3rem;
  .file {
    justify-content: center;
  }

  .files-list {
    text-align: left;
    li {
      color: $warning;
    }
    i {
      color: $danger;
    }
  }
}
