<form [formGroup]="form">
  <div class="field has-text-centered">
    <div class="file">
      <label class="file-label">
        <input class="file-input" type="file" name="resume" multiple (change)="onFileInputChange($event)">
        <span class="file-cta">
                <span class="file-icon"><i class="fas fa-upload"></i></span>
                <span class="file-label">Choose files…</span>
              </span>
      </label>
    </div>
    <ul class="files-list mt-2">
      <li *ngFor="let file of files">
        <i (click)="removeFile(file.name)" class="fa fa-times mr-3"></i> {{file.name}}
      </li>
    </ul>
  </div>
</form>
