<div class="modal" [ngClass]="{'is-active': isEditing}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head main-gradient">
      <p class="modal-card-title has-text-white">Edit advanced info</p>
      <button class="delete" aria-label="close" (click)="toggleEdit()"></button>
    </header>
    <section class="modal-card-body">
      <form>
        <div class="field columns">
          <div class="control column">
            <label for="lastName" class="label">Last Name</label>
            <input id="lastName" type="text" class="input" placeholder="Last Name">
          </div>
          <div class="control column">
            <label for="firstName" class="label">First Name</label>
            <input type="text" id="firstName" class="input" placeholder="First Name">
          </div>
        </div>

        <div class="field columns">
          <div class="control column">
            <label for="age" class="label">Age</label>
            <input type="text" id="age" class="input" placeholder="Age">
          </div>
          <div class="control column">
            <label for="gender" class="label">Gender</label>
            <input type="text" id="gender" class="input" placeholder="Gender">
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button" (click)="toggleEdit()">Cancel</button>
    </footer>
  </div>

</div>

