<main>
  <section class="z-depth-1">
    <h1 class="is-size-3 has-text-centered mb-3">I forgot my password !</h1>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="emailLogin" class="label">Email Adress</label>
        <input id="emailLogin" type="text" class="input" placeholder="Email" formControlName="email">
      </div>
  
      <div class="has-text-centered">
        <button type="submit" [disabled]="resetPasswordForm.invalid" class="button is-success">
          Confirm !
        </button>
        <a class="is-block mt-1" [routerLink]="'/home/login'">I remember my password!</a>
      </div>
      <!--<app-loader-activity *ngIf="isLoading" style="position: absolute; top: 5vh; right: 2vw"></app-loader-activity>-->
    </form>    
  </section>
</main>
