main {
  height: 100vh;
  background-image: url("http://perkyseed.me/wp-content/uploads/file-name-4k-nature-wallpapers-widescreen-5bcc52702dde4.jpg");

  section  {
    width: 500px;
    margin: 10vh auto;
    padding: 2rem;
    background-color: white;
  }
}
