<aside class="is-fullheight side-nav is-hidden-touch has-text-centered">
  <div class="side-nav-brand aligner">
    <img src="assets/imgs/Ainhoa Logo.png" width="112" height="28">
  </div>
  <section class="side-nav-menu aligner">
    <ul class="menu-list">
      <li [routerLink]="item.route" *ngFor="let item of routesList" class="menu-item"
          [ngClass]="{'active': currentRoute.startsWith(item.route)}">
        <i class="{{item.icon}}"></i>{{item.label}}
        <div class="bubble"></div>
        <div class="lake"></div>
      </li>
    </ul>
  </section>
</aside>
