@import "../../../themes/variables";

.side-nav {
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 40;
  position: fixed;
  background-color: white;
  width: $sidenav-width;
  transition-duration: $sidenav-transition-duration;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .09), 0 2px 25px 0 rgba(0, 0, 0, .09);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .09), 0 2px 25px 0 rgba(0, 0, 0, .09);

  .side-nav-brand {
    height: $navbar-height;
  }

  .side-nav-menu {
    padding-top: 38%;
    ul.menu-list {
      width: 100%;
      text-align: left;
      padding-left: 2rem;
      li.menu-item {
        padding: 1rem 0;
        font-size: 1.1rem;
        position: relative;
        transition-duration: .4s;
        color: $navigation-font-color;
        i {
          margin-right: 2rem;
        }
        &:hover {
          color: $main;
          cursor: pointer;
        }
        &.active {
          color: $main-dark;

          div.bubble {
            top: 0;
            right: 0;
            width: 3px;
            height: 100%;
            border-radius: 4px;
            position: absolute;
            animation-duration: 1s;
            animation-name: bounce;
            background-color: $main-dark;
          }
          div.lake {
            top: 0;
            right: 0;
            width: 3px;
            height: 100%;
            border-radius: 4px;
            position: absolute;
            background-color: $main-dark;
          }
        }
        &:focus {
          outline: none;
        }

      }
    }
  }

}

@keyframes bounce {
  0% {
    top: 0;
    right: 0;
    width: 3px;
    height: 5px;
  }
  10% {
    top: calc(50% - 4px);
    right: 0;
    width: 5px;
    height: 5px;
  }
  50% {
    top: calc(50% - 4px);
    right: 15px;
    width: 5px;
    height: 5px;
  }
  95% {
    top: calc(50% - 4px);
    right: 0;
    width: 5px;
    height: 5px;
  }
  100% {
    right: 0;
    opacity: 0;
  }
}

