<div>
  <span *ngIf="label" class="label">{{label}}</span>
  Off
  <label class="switch">
    <input type="checkbox" [(ngModel)]="checked" (change)="emit()">
    <span class="slider"></span>
  </label>
  On
</div>
