<main>
  <section class="z-depth-1">
    <h1 class="is-size-3 has-text-centered mb-3">Sign in to Ainhoa</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="emailLogin" class="label">Email Adress</label>
        <input id="emailLogin" type="text" class="input" placeholder="Email" formControlName="email">
      </div>
    
      <div class="field">
        <label for="passwordLogin" class=" label">Password</label>
        <input id="passwordLogin" type="password" class="input" name="password" formControlName="password"
               placeholder="Password" (keyup.enter)="onSubmit()">
      </div>
      <div class="has-text-centered">
        <button type="submit" [disabled]="loginForm.invalid" class="button is-success">
          Login
        </button>
        <a class="is-block mt-3" [routerLink]="'/home/register'">Do not have an account?</a>
        <a class="is-block mt-1" [routerLink]="'/home/reset-password'">Forgot password?</a>
      </div>
    </form>
  </section>
</main>
