<section>
  <div class="card">
    <div class="card-header">
      <p class="card-header-title">
        Personal Information
      </p>
      <a class="card-header-icon">
        <i class="fas fa-edit" (click)="toggleEditPersonalInfo()"></i>
      </a>
    </div>
    <div class="card-content">
      <div class="content">
        <ul>
          <li class="col-sm-12 col-lg-6">Last Name : Unknow</li>
          <li class="col-sm-12 col-lg-6">First Name : Meliodas</li>
          <li class="col-sm-12 col-lg-6">Age : 3000 ans</li>
          <li class="col-sm-12 col-lg-6">Gender : Homme</li>
          <li class="col-sm-12 col-lg-6">Phone : 06 31 80 26 58</li>
        </ul>
        <div class="divider"></div>
        <ul>
          <li class="col-sm-12 col-lg-6">Weight : 50kg</li>
          <li class="col-sm-12 col-lg-6">Size : 152cm</li>
          <li class="col-sm-12 col-lg-6">Training Level : Expert</li>
          <li class="col-sm-12 col-lg-6">Training Frequency : 7 times/week</li>
          <li class="col-sm-12 col-lg-6">Professional Activity : Anger Dragon</li>
          <li class="col-sm-12 col-lg-6">Sports Activity : Beer</li>
          <li class="col-sm-12 col-lg-6">Health Issues : Is a Demon</li>
        </ul>
        <app-edit-personal-info [isEditing]="isEditingPersonalInfo"></app-edit-personal-info>
      </div>
    </div>
  </div>
</section>
