<main>
  <section class="z-depth-1">
    <h1 class="is-size-3 has-text-centered">Sign up to Ainhoa</h1>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="emailRegistration" class="label">Email Adress</label>
        <input id="emailRegistration" type="text" formControlName="email" class="input" placeholder="Email">
      </div>

      <div class="field">
        <label for="passwordRegistration" class="label">Password</label>
        <input id="passwordRegistration" type="password" class="input" formControlName="password"
              placeholder="Password">
      </div>

      <div class="field">
        <label for="confirmationPasswordRegistration" class="label">Confirm Password</label>
        <input id="confirmationPasswordRegistration" type="password" class="input" formControlName="confirmPassword"
              placeholder="Password" (keyup.enter)="onSubmit()">
      </div>
      <div class="has-text-centered">
        <button type="submit" class="button is-success is-centered" [disabled]="registrationForm.invalid">Sign Up</button>
        <a class="is-block mt-3" [routerLink]="'/home/login'">Already have an account?</a>
      </div>
    </form>
  </section>
</main>
