.pt-3 {
  padding-top: 1rem!important;
}
.pb-3 {
  padding-bottom: 1rem!important;
}
.mt-3 {
  margin-top: 1rem!important;
}
.mb-3 {
  margin-bottom: 1rem!important;
}
.pt-2 {
  padding-top: .5rem!important;
}
.pb-2 {
  padding-bottom: .5rem!important;
}
.mt-2 {
  margin-top: .5rem!important;
}
.mb-2 {
  margin-bottom: .5rem!important;
}
.pt-1 {
  padding-top: .25rem!important;
}
.pb-1 {
  padding-bottom: .25rem!important;
}
.mt-1 {
  margin-top: .25rem!important;
}
.mb-1 {
  margin-bottom: .25rem!important;
}

.pr-3 {
  padding-right: 1rem!important;
}
.pl-3 {
  padding-left: 1rem!important;
}
.mr-3 {
  margin-right: 1rem!important;
}
.ml-3 {
  margin-left: 1rem!important;
}
.pr-2 {
  padding-right: .5rem!important;
}
.pl-2 {
  padding-left: .5rem!important;
}
.mr-2 {
  margin-right: .5rem!important;
}
.ml-2 {
  margin-left: .5rem!important;
}
.pr-1 {
  padding-right: .25rem!important;
}
.pl-1 {
  padding-left: .25rem!important;
}
.mr-1 {
  margin-right: .25rem!important;
}
.ml-1 {
  margin-left: .25rem!important;
}
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aligner-item {
  max-width: 50%;
}
.aligner-item--top {
  align-self: flex-start;
}
.aligner-item--bottom {
  align-self: flex-end;
}
.z-depth-1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

