@mixin switch-typo($primary, $secondary, $toggle-color) {

  $translate: 24px;

  .switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 16px;
    margin: .425rem;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($secondary, 0.05);
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 2px;
      bottom: 1px;
      background-color: $secondary;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }


  input:checked + .slider {
    background-color: rgba($toggle-color, 0.9);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $secondary;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX($translate);
    -ms-transform: translateX($translate);
    transform: translateX($translate);
  }
}
