// COLORS

$main: #63EAEA;
$main-dark: #3DA4AB;

$primary: #32db64;
$primary-dark : #00bf49;

$secondary: #32db64;

$danger: #f53d3d;
$danger-dark: #CC0000;

$warning: #f80;
$warning-dark: #FF8800;

$info: #33b5e5;
$info-dark: #0099CC;

$light: #f4f4f4;

$dark: #212121;

$grey: #9e9e9e;

$navigation-font-color: #b1b3b6;

$main-background: #F4F6F8;
$main-background-dark: hsl(0, 0%, 21%);

$border-radius: 0.125rem;

// BUTTON

$button-primary-text-color: #243337;

// SIDENAV

$sidenav-width: 250px;
$sidenav-transition-duration: 0s;

// NAVBAR
$navbar-height: 75px;
$navbar-background: #FFF;
$navbar-background-dark: hsl(0, 0%, 14%);

// GRADIENT

$primary-gradient : linear-gradient(120deg, #243337, #658C8E);
