@import "../../../themes/variables";

.navbar-end {
  padding-left: 1rem;

  .navbar-item {
    color: $navigation-font-color;

    .avatar {
      border-radius: 50%;
    }
  }

  span.icon {
    margin: 0 1rem;
  }

  .icon-container {
    border-left: $main-background 2px solid;
  }

  i.fas {
    transition-duration: .2s;

    &:hover {
      color: #9e9e9e;
      cursor: pointer;
    }
  }
}

.search {
  input.input {
    border-width: 0;
    box-shadow: none;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    transition-duration: .8s;
    color: $navigation-font-color;
    border-bottom: solid 2px white;

    &:focus {
      border-bottom: solid 2px $main;
    }
  }

  &:hover {
    background-color: transparent;
  }
}

@media only screen and (max-width: 1087px) {
  .navbar {
    height: auto;
  }
}

@media screen and (min-width: 1088px) {
  .navbar-start {
    margin-left: $sidenav-width + 10px;
  }
}


