<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-hidden-desktop" routerLink="/">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" #toggleMenu class="navbar-burger burger" (click)="toggle()" aria-label="menu" aria-expanded="false"
       data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" #navbarMenu>
    <div class="navbar-start">
      <a class="navbar-item search is-hidden-touch">
        <div class="control has-icons-left">
          <span class="icon is-left"><i class="fas fa-search"></i></span>
          <label for="searchNavbar"></label>
          <input type="text" class="input" id="searchNavbar" placeholder="Search ...">
        </div>
      </a>
      <a class="navbar-item is-hidden-desktop" *ngFor="let item of routesList" [routerLink]="item.route">
        <span class="icon has-text-info mr-2">
          <i class="fa {{item.icon}} {{item.customClass}}" aria-hidden="true"></i>
        </span>
        {{item.label}}
      </a>
    </div>

    <div class="navbar-end is-hidden-touch">
      <div class="navbar-item mr-2">
        Hi, Meliodas
        <img src="https://steamavatar.io/img/1477787689rmihz.png" class=" ml-2 avatar">
      </div>
      <div class="navbar-item icon-container">
        <span class="icon ml-1"><i class="fas fa-bell"></i></span>
        <span (click)="logout()" class="icon ml-1"><i class="fas fa-sign-out-alt"></i></span>
      </div>
    </div>
  </div>
</nav>
