<div class="card main-gradient aligner">
  <img src="https://steamavatar.io/img/1477787689rmihz.png" class="avatar mb-3" alt="">
  <h4 class="is-uppercase">Meliodas Sama</h4>
  <div class="divider"></div>
  <h4 class="is-uppercase">Master of Owk</h4>
</div>
