@import "../../../themes/variables";

div.card {
  color: white;
  padding: 2rem;
  flex-direction: column;

  img.avatar {
    border-radius: 50%;
    border: solid 3px white;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .09), 0 2px 50px 0 rgba(0, 0, 0, .09);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .09), 0 2px 50px 0 rgba(0, 0, 0, .09);
  }

  div.divider {
    width: 40%;
    height: 1px;
    margin: 0.4rem 0;
    background-color: white;
  }

  h4 {
    font-size: 1.2rem;
  }
}
