<div class="modal" [ngClass]="{'is-active': isEditing}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head main-gradient">
      <p class="modal-card-title has-text-white">Edit advanced info</p>
      <button class="delete" aria-label="close" (click)="toggleEdit()"></button>
    </header>
    <section class="modal-card-body">
      <form>
        <div class="field columns">
          <div class="column">
            <label for="weight" class="label">Weight</label>
            <input type="text" id="weight" class="input" placeholder="Weight">
          </div>
          <div class="column">
            <label for="size" class="label">Size</label>
            <input id="size" type="text" class="input" placeholder="Size">
          </div>
        </div>
        <div class="field columns">
          <div class="column">
            <label for="level" class="label">Training Level</label>
            <input id="level" type="text" class="input" placeholder="Training Level">
          </div>
          <div class="column">
            <label for="training" class="label">Training Frequency</label>
            <input id="training" type="text" class="input" placeholder="Training Frequency">
          </div>
        </div>
        <div class="field columns">
          <div class="column">
            <label for="proActivity" class="label">Professional Activity</label>
            <textarea id="proActivity" placeholder="Professional Activity" class="textarea" rows="5"></textarea>
          </div>
          <div class="column">
            <label for="sports" class="label">Sports Activity</label>
            <textarea id="sports" placeholder="Sports Activity" class="textarea" rows="5"></textarea>
          </div>
        </div>
        <div class="field columns">
          <div class="column">
            <label for="healthIssue" class="label">Health Issues</label>
            <textarea placeholder="Heart Attack" id="healthIssue" class="textarea" rows="5"></textarea>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button" (click)="toggleEdit()">Cancel</button>
    </footer>
  </div>

</div>

