<section class="first hero is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h1 class="title">
          Coming Soon
        </h1>
        <h2 class="subtitle">
          $this is the best software platform for running an internet business. We handle billions of dollars every year
          for forward-thinking businesses around the world.
        </h2>
        <div class="box">
          <div class="field is-grouped">
            <p class="control is-expanded">
              <input class="input" type="text" placeholder="Enter your email">
            </p>
            <p class="control">
              <a class="button has-main-dark-background has-text-white">
                Notify Me
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="columns features">
    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image has-text-centered">
          <i class="fa fa-paw"></i>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Tristique senectus et netus et. </h4>
            <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim
              neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra
              nam.</p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image has-text-centered">
          <i class="fas fa-brain"></i>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Tempor orci dapibus ultrices in.</h4>
            <p>Ut venenatis tellus in metus vulputate. Amet consectetur adipiscing elit pellentesque. Sed arcu non odio
              euismod lacinia at quis risus. Faucibus turpis in eu mi bibendum neque egestas cmonsu songue. Phasellus
              vestibulum lorem
              sed risus.</p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image has-text-centered">
          <i class="fab fa-accessible-icon"></i>
        </div>
        <div class="card-content">
          <div class="content">
            <h4> Leo integer malesuada nunc vel risus. </h4>
            <p>Imperdiet dui accumsan sit amet nulla facilisi morbi. Fusce ut placerat orci nulla pellentesque dignissim
              enim. Libero id faucibus nisl tincidunt eget nullam. Commodo viverra maecenas accumsan lacus vel
              facilisis.</p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
