<nav class="navbar z-depth-1" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home">
      <img src="assets/imgs/Ainhoa Logo.png">
    </a>

       <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
         <span aria-hidden="true"></span>
         <span aria-hidden="true"></span>
         <span aria-hidden="true"></span>
       </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <div class="buttons mr-2">
        <a class="button has-main-dark-background has-text-white" [routerLink]="'/home/register'">
          Sign up
        </a>
        <a class="button is-light" [routerLink]="'/home/login'">
          Log in
        </a>
      </div>
    </div>
  </div>
</nav>
