<form [formGroup]="form">
  <div class="field">
    <div class="control">
      <h4 class="label">Pricing (Day)</h4>
      <input class="input" type="text" placeholder="50€" formControlName="pricing">
    </div>
  </div>
</form>
