<div class="multi-spinner-container">
  <div class="multi-spinner">
    <div class="multi-spinner">
      <div class="multi-spinner">
        <div class="multi-spinner">
          <div class="multi-spinner">
            <div class="multi-spinner"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

