@import "themes/variables";
@import "themes/helpers";

@font-face {
  font-family: Quicksand;
  src: url(assets/fonts/Quicksand-Regular.ttf);
}

@font-face {
  font-family: Quicksand-Light;
  src: url(assets/fonts/Quicksand-Light.ttf);
}

body {
  font-family: 'Nunito Sans', sans-serif;
  min-height: 100vh;
  background-color: $main-background;

  nav.navbar {
    height: $navbar-height;
    background-color: $navbar-background;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
  }

}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .09), 0 2px 50px 0 rgba(0, 0, 0, .09);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .09), 0 2px 50px 0 rgba(0, 0, 0, .09);
}

.modal-card-head, .modal-card-foot {
  border-radius: 0;
}

a {
  color: $main-dark;
}

.tagsinput .tag.is-active {
  background-color: $main-dark;
}

.main-gradient {
  background-image: linear-gradient(141deg, $main 0%, $main-dark 100%);
}

.has-main-background {
  background-color: $main;
}

.has-main-dark-background {
  background-color: $main-dark;
}

.dark-theme {

  body {
    color: white;
    background-color: $main-background-dark;
  }

  nav.navbar {
    background-color: $navbar-background-dark;

    .navbar-end .icon-container {
      border-left-color: $main-background-dark
    }

  }

  .input, .textarea {
    background-color: $main-background-dark;
  }

  .side-nav {
    background-color: $navbar-background-dark !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.2), 0 2px 25px 0 rgba(255, 255, 255, 0.04) !important;
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.2), 0 2px 25px 0 rgba(255, 255, 255, 0.04) !important;
  }

  .card {
    background-color: $navbar-background-dark;
    -webkit-box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.1), 0 2px 25px 0 rgba(255, 255, 255, 0.04) !important;
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.1), 0 2px 25px 0 rgba(255, 255, 255, 0.04) !important;

    .card-header {
      -webkit-box-shadow: 0 1px 2px rgba(240, 240, 240, 0.1);
      box-shadow: 0 1px 2px rgba(240, 240, 240, 0.1)
    }

    .card-header-title {
      color: white;
    }
  }

}
