<div class="section">

  <div class="card">
    <div class="card-header"><p class="card-header-title">Header</p></div>
    <div class="card-content"><div class="content">Content</div></div>
  </div>
  <br />

  <div class="card is-hidden1">
    <div class="card-header"><p class="card-header-title">Header</p></div>
    <div class="card-content"><div class="content">Content</div></div>
  </div>
  <br />

  <div class="card is-hidden1">
    <div class="card-header"><p class="card-header-title">Header</p></div>
    <div class="card-content"><div class="content">Content</div></div>
  </div>
  <br />

  <div class="card is-hidden1">
    <div class="card-header"><p class="card-header-title">Header</p></div>
    <div class="card-content"><div class="content">Content</div></div>
  </div>
  <br />

  <div class="card is-hidden1">
    <div class="card-header"><p class="card-header-title">Header</p></div>
    <div class="card-content"><div class="content">Content</div></div>
  </div>
  <br />

  <div class="card is-hidden1">
    <div class="card-header"><p class="card-header-title">Header</p></div>
    <div class="card-content"><div class="content">Content</div></div>
  </div>
  <br />

</div>
